<% content_for :hero do %>
  <%= render partial: 'shared/carousel' %>
<% end %>


<!-- <div class="row column big-ticker">
<ul class="vertical medium-horizontal menu expanded text-center ticker">
<% @tags.each do |tag| %>
  <li>
    <a href="/tags/<%= tag.id %>">
      <div class="stat">#<%= tag.title %><%= "(#{tag.tag_category.name})" if tag.tag_category %></div>
      <span><%= number_to_human(tag.count, units: { thousand: "K", million: "M" }) unless tag.count.nil? || tag.count.zero? %></span>
    </a>
    <span>&nbsp;</span>
  </li>
<% end %>
</ul>
</div> -->

<!--
<ul id="ticker01">
  <% @trending_tags.each do |tag| %>
    <li>
      <%= link_to tag_path(tag) do %>
        <%= "##{tag.title}" %> <%= "(#{tag.tag_category.name})" if tag.tag_category %>
      <% end %>
      <span>&nbsp;</span>
    </li>
  <% end %>
</ul>
-->

<div class="row medium-up-3 large-up-4 tags">
  <% tags_and_status_updates(@tags).each do |tag, status_update| %>
    <div class="column tag">
      <p class="tag-container">
        <a data-open="hashtag-modal" data-tag="<%= tag.title %>">
          <%= media_tag content_type: status_update.content_type, uri: status_update.media_uri %>
        </a>
        <% if tag_has_chatters?(tag) %>
          <%= link_to 'Chat Now', tag_path(tag),
              class: 'small button chat-now' %>
        <% end %>
        <%= button_to 'Report as inappropiate', reported_status_updates_path(status_update_id: status_update.id, reason: 'inappropiate')%>
        <%= button_to 'Report as duplicate', reported_status_updates_path(status_update_id: status_update.id, reason: 'duplicate')%>
      </p>
    </div>
  <% end %>
</div>

<!-- <div class="row column">
  <a class="button expanded">Load More</a>
</div> -->
