<% if is_admin? %>
  <%= link_to 'Edit', edit_tag_path(@tag) %>
<% end %>

<% content_for :hero do %>
  <div class="large hero">
    <div class="row column text-center">
      <h1>TAGSPOT CHAT</h1><br>
      <h4>#<%= @tag.title %><%= " - #{@tag.tag_category.name}" if @tag.tag_category %></h4>
    </div>
</div>

<% end %>

<%= render 'chat' %>

<div>
</div>

<div class="row column"></div>
<div class="row medium-up-3 large-up-4 tags">
  <% @tag.status_updates.each do |status_update| %>
    <div class="column tag">
      <a data-open="hashtag-modal" data-tag="<%= @tag.title %>">
        <%= media_tag content_type: status_update.content_type, uri: status_update.media_uri %>
      </a>
      <%= button_to 'Report as inappropiate', reported_status_updates_path(status_update_id: status_update.id, reason: 'inappropiate')%>
      <%= button_to 'Report as duplicate', reported_status_updates_path(status_update_id: status_update.id, reason: 'duplicate')%>
    </div>
  <% end %>
</div>
</div>
